#headerImage {
  width: 1200px;
}

#mainBody {
  position: relative;
  height: 3000px;
}

#orderFormContainer {
  position: sticky;
  left: 950px;
  top: 50px;
  width: 385px;
  z-index: 100;
}

#orderForm {
  z-index: 100;
}

#earnings {
  display: flex;
}

#analystRatings {
  display: flex;
  margin-top: -20px;
  margin-bottom: 20px;
}

#graphContainer {
  display: flex;
  margin-bottom: 40px;
}

#alsoBoughtModule {
  display: flex;
  position: absolute;
  top: 2570px;
  left: -190px;
  z-index: -1;
}

#modulesContainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  max-width: 500px;
  position: absolute;
  top: 100px;
  left: 100px;
}

#aboutCollections {
  display: flex;
  position: relative;
  height: 1200px;
  width: 900px;
  margin-bottom: 20px;
  z-index: -1;
}

#aboutImage {
  display: flex;
  position: absolute;
  left: -200px;
  height: 1200px;
  width: 900px;
  z-index: -1;
}